
main{
    max-width: 870px;
}
.top-players{
    background-color: #FFFFFF;
}
body{
    background-color: #F3F1FF;;
}.navbar img{
width: 40px;
}
.navbar-nav  li{
    padding-left:10px;
    padding-right:10px;
  }
  .player img{
      width: 56px;
  }
.blogs img{
    width: 224px;
    
}
.blogs{
    background-color: #FFFFFF;
    
}
.courses img{
    width: 224px;
}
.courses{
    margin-top: 20px;
    background-color:  #FFFFFF;
    
   
}
.course-1{
    padding-top: 15px;
    box-shadow: 2px 2px 10px gray;
    
    
    
}
.image  >img{
    max-width: 8%;
    height: 8%;
    
}
#time{
    max-width: 25px;
    height:25px;
}


.top-players p{
    font-weight: bold;
}
.blogs span{
    color:  #562EFF;
}
.time-zone{
    background-color: #FFE4E8;
}